      <!-- ==================== S main ==================== -->
      <section class="main">
      <div class="page-width clearfix">
          <!-- S full-page-content -->
          <div class="full-page-content">
              <div id="a1portalSkin_mainArea" class="full-page-content-wrapper">

                  <div class="module">
                      <div class="module-inner">
                          <div id="a1portalSkin_ctr7444374443_mainArea" class="module-content">
                              <div class="qhd-content">
                                  <h4>广州市捷邦节能设备制造有限公司<br>
                                      &nbsp;</h4>
                                  <h3>
                                      <span style="color: #f30;">联系我们</span></h3>
                                  <p>
                                      <img alt="" src="Portals/897/staticfile/default/c3737d82-044f-4e2a-9ef4-1c2b0676fe03.png" />&nbsp; 电话：020-3296 8908
                                  </p>
                                  <p>
                                      <img alt="销售直线" src="Portals/897/staticfile/default/c3737d82-044f-4e2a-9ef4-1c2b0676fe03.png" style="width: 24px; height: 24px;" />&nbsp; 销售直线：杨喜：13610166869&nbsp;&nbsp;&nbsp; 范欣：13802964559
                                  </p>
                                  <p>
                                      <img alt="" src="Portals/897/staticfile/default/10b2afac-ab87-49af-a8c1-6eeca99ebb36.png" />&nbsp; 传真：020-3296 8278
                                  </p>
                                  <p>
                                      <img alt="" src="Portals/897/staticfile/default/ee9fa074-b991-4f9a-adbd-be2cc96b1910.png" />&nbsp; 邮编：518105
                                  </p>
                                  <p>
                                      <img alt="" src="Portals/897/staticfile/default/88cbeb0a-905a-468c-ab58-be494ae17cfa.png" />&nbsp; 邮箱：318559961@qq.com
                                  </p>
                                  <p>
                                      <img alt="" src="Portals/897/staticfile/default/f0077976-afbd-4d03-b4bd-115572ed517b.png" />&nbsp; 地址：广州市萝岗区永和街田园路84号C座
                                  </p>
                              </div>


                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- ==================== E main ==================== -->