<!DOCTYPE html>
<head id="Head">
    <%- include('common/head',{}) -%>
    <title>广州捷邦节能设备制造有限公司 </title>
</head>
<body class="font-zh-CN" style="">
    <%- include('common/js',{}) -%>
    <div id="wrapper" class="home-page">
        <!-- ==================== S top ==================== -->
        <%- include('common/menu',{cList:[{ID:1,Name:'123'},{ID:1,Name:'123'},{ID:1,Name:'123'}]}) -%>
        <!-- ==================== E top ==================== -->
    </div>
</body>