<footer class="footer">
    <div class="footer-main">
        <div id="a1portalSkin_footerAreaA" class="page-width clearfix">
            <!-- Start_Module_74416 -->
            <a name="13337" id="13337"></a>
            <div class="module-default">
                <div class="module-inner">
                    <div id="a1portalSkin_ctr7441674416_mainArea" class="module-content">
                        <!-- Start_Module_74416 -->
                        <div class="qhd-module">
                            <div class="column">
                                <div class="col-3-1">
                                    <div id="a1portalSkin_ctr7441674416_Column2C33A67_QHDCPM74416M1" class="qhd_column_contain">
                                        <!-- Start_Module_74417 --><a name="13338" id="13338"></a><div class="module-default">
                                            <div class="module-inner">
                                                <div id="a1portalSkin_ctr7441674416_Column2C33A67_ctr7441774417_mainArea" class="module-content">
                                                    <!-- Start_Module_74417 --><div class="qhd-content">
                                                        <p style="text-align: center;">
                                                            <a href="#">
                                                                <img src="Portals/897/_thumbs/ba6dddac-f59f-4ba5-8dca-599ffe480c67_0_70_UseHeight.jpg"
                                                                     alt="广州捷邦" style="width: 99px; height: 96px;" />
                                                            </a>
                                                        </p>
                                                    </div>
                                                    <!-- End_Module_74417 -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3-2 last">

                                    <!--<div id="a1portalSkin_ctr7441674416_Column2C33A67_ctr7441974419_mainArea" class="module-content">

                                        <div class="qhd-content">
                                            <p>
                                                Copyright &copy; 2015 版权私有：广州市捷邦节能设备制造有限公司 &nbsp;All Rights Reserved.
                                            </p>
                                            <p>
                                                粤ICP备15075702号
                                            </p>
                                        </div>
                                    </div>-->
                                    <div class="module-default module-no-margin">
                                        <div class="module-inner">
                                            <div id="a1portalSkin_ctr7441674416_Column2C33A67_ctr7441874418_mainArea" class="module-content">
                                                <!-- Start_Module_74418 -->
                                                <div class="qhd-content">
                                                    <p>
                                                        <!--<a href="/about_01">关于</a>捷邦&nbsp; &nbsp; &nbsp;| &nbsp; &nbsp;-->
                                                        <a href="/plist.aspx">产品展示</a> &nbsp; &nbsp; | &nbsp; &nbsp;
                                                        <!--<a href="/project">项目方案</a> &nbsp; &nbsp; | &nbsp; &nbsp;-->
                                                        <!--<a href="/news_01">新闻中心</a> &nbsp; &nbsp; | &nbsp; &nbsp;-->
                                                        <!--<a href="/jobs_01">加入</a>捷邦&nbsp; &nbsp; &nbsp;| &nbsp; &nbsp;-->
                                                        <a href="/Contact.aspx">联系我们</a>&nbsp; &nbsp; | &nbsp; &nbsp;
                                                        <a href="/manager/Index.aspx">后台管理</a>
                                                    </p>
                                                </div><!-- End_Module_74418 -->
                                            </div>
                                        </div>
                                        <div class="module-divider">

                                        </div>
                                    </div>
                                    <div class="module-default module-no-margin">
                                        <div class="module-inner">
                                            <div id="a1portalSkin_ctr7441674416_Column2C33A67_ctr7441974419_mainArea" class="module-content">
                                                <div class="qhd-content">
                                                    <p>
                                                        Copyright &copy; 2015 版权私有：广州市捷邦节能设备之制造有限公司 &nbsp;All Rights Reserved.
                                                    </p>
                                                    <p>
                                                        粤ICP备15075702号
                                                    </p>
                                                </div><!-- End_Module_74419 -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End_Module_74416 -->
            </div>
        </div>
    </div>
</footer>
