<div style="background-color: rgb(255, 255, 255); background-image: none; background-repeat: no-repeat;background-position:0 0; background:-moz-linear-gradient(top, none, none);background:-webkit-gradient(linear, left top, left bottom, from(none), to(none));background:-o-linear-gradient(top, none, none);background:-ms-linear-gradient(top, none, none);background:linear-gradient(top, none, none);;
position: relative; width: 100%;min-width:1000px;background-size: auto;" bgScroll="none">
<div class=" footer" cpid="1133606" id="smv_Area3"
style="width: 1000px; height: 154px; position: relative; margin: 0 auto;">
<div id="smv_tem_27_25" ctype="banner" class="esmartMargin smartAbs " cpid="1133606" cstyle="Style1"
 ccolor="Item0" areaId="Area3" isContainer="True" pvid="" tareaId="Area3" re-direction="y" daxis="Y"
 isdeletable="True" style="height: 77px; width: 100%; left: 0px; top: 0px;z-index:2;">
 <div class="yibuFrameContent tem_27_25  banner_Style1  " style="overflow:visible;;">
   <div class="fullcolumn-inner smAreaC" id="smc_Area0" cid="tem_27_25" style="width:1000px">
     <div id="smv_tem_39_46" ctype="companyinfo" class="esmartMargin smartAbs " cpid="1133606" cstyle="Style1"
       ccolor="Item0" areaId="Area0" isContainer="False" pvid="tem_27_25" tareaId="Area3" re-direction="all"
       daxis="All" isdeletable="True" style="height: 40px; width: 341px; left: 570px; top: 19px;z-index:4;">
       <div class="yibuFrameContent tem_39_46  companyinfo_Style1  " style="overflow:hidden;;">
         <ul class="w-company-info iconStyle3">
           <li class="company-info-item">
             <a href="mailto:name@example.xxx">
               <span class="company-info-icon ">
                 <i class="ltd-icon gs-youxiang"></i>
               </span><span class="company-text"><span class="company-info-title"
                   style="white-space:pre"></span><span class="company-info-text">name@example.xxx</span>
               </span>
             </a>
           </li>
         </ul>
       </div>
     </div>
     <div id="smv_tem_38_1" ctype="companyinfo" class="esmartMargin smartAbs " cpid="1133606" cstyle="Style1"
       ccolor="Item0" areaId="Area0" isContainer="False" pvid="tem_27_25" tareaId="Area3" re-direction="all"
       daxis="All" isdeletable="True" style="height: 40px; width: 231px; left: 107px; top: 19px;z-index:4;">
       <div class="yibuFrameContent tem_38_1  companyinfo_Style1  " style="overflow:hidden;;">
         <ul class="w-company-info iconStyle3">
           <li class="company-info-item">
             <a href="tel:400xxx8888">
               <span class="company-info-icon ">
                 <i class="ltd-icon gs-dianhua"></i>
               </span><span class="company-text"><span class="company-info-title"
                   style="white-space:pre"></span><span class="company-info-text">400xxx8888</span>
               </span>
             </a>
           </li>
         </ul>
       </div>
     </div>
   </div>
   <div id="bannerWrap_tem_27_25" class="fullcolumn-outer" style="position: absolute; top: 0; bottom: 0;">
   </div>

   <script type="text/javascript">

     $(function () {
       var resize = function () {
         $("#smv_tem_27_25 >.yibuFrameContent>.fullcolumn-inner").width($("#smv_tem_27_25").parent().width());
         $('#bannerWrap_tem_27_25').fullScreen(function (t) {
           if (VisitFromMobile()) {
             t.css("min-width", t.parent().width())
           }
         });
       }
       $(window).resize(function (e) {
         if (e.target == this) {
           resize();
         }
       });
       resize();
     });
   </script>
 </div>
</div>
<div id="smv_tem_40_54" ctype="banner" class="esmartMargin smartAbs " cpid="1133606" cstyle="Style1"
 ccolor="Item0" areaId="Area3" isContainer="True" pvid="" tareaId="Area3" re-direction="y" daxis="Y"
 isdeletable="True" style="height: 78px; width: 100%; left: 0px; top: 76px;z-index:5;">
 <div class="yibuFrameContent tem_40_54  banner_Style1  " style="overflow:visible;;">
   <div class="fullcolumn-inner smAreaC" id="smc_Area0" cid="tem_40_54" style="width:1000px">
     <div id="smv_tem_43_54" ctype="logoimage" class="esmartMargin smartAbs " cpid="1133606" cstyle="Style1"
       ccolor="Item0" areaId="Area0" isContainer="False" pvid="tem_40_54" tareaId="Area3" re-direction="all"
       daxis="All" isdeletable="True" style="height: 56px; width: 125px; left: 3px; top: 9px;z-index:12;">
       <div class="yibuFrameContent tem_43_54  logoimage_Style1  " style="overflow:visible;;">
         <div class="w-image-box" data-fillType="0" id="div_tem_43_54">
           <a target="_self" href="">
             <img src="//ntemimg.wezhan.cn/contents/sitefiles2000/10004034/images/-9292.png" alt="logo"
               title="logo" id="img_smv_tem_43_54" style="width: 125px; height:56px;">
           </a>
         </div>

         <script type="text/javascript">
           $(function () {
             InitImageSmv("tem_43_54", "125", "56", "0");
           });
         </script>

       </div>
     </div>
     <div id="smv_tem_44_54" ctype="companyinfo" class="esmartMargin smartAbs " cpid="1133606" cstyle="Style4"
       ccolor="Item0" areaId="Area0" isContainer="False" pvid="tem_40_54" tareaId="Area3" re-direction="all"
       daxis="All" isdeletable="True" style="height: 20px; width: 880px; left: 119px; top: 30px;z-index:13;">
       <div class="yibuFrameContent tem_44_54  companyinfo_Style4  " style="overflow:hidden;;">
         <div class="w-company-info iconStyle1">
           <span class="company-info-item">
             <a href="javascript:void(0)">
               <span class="icon company-info-icon    mw-icon-hide ">
                 <i class="ltd-icon gs-gongsi"></i>
               </span>
               <span class="company-info-title" style="white-space:pre">版权所有：</span>
               <span class="company-info-text">某某有限公司</span>
             </a>
           </span>
           <span class="company-info-item">
             <a href="http://www.beian.miit.gov.cn" target=_blank>
               <span class="icon company-info-icon    mw-icon-hide ">
                 <i class="ltd-icon gs-beian"></i>
               </span>
               <span class="company-info-title" style="white-space:pre">备案号：</span>
               <span class="company-info-text">京ICP备2018xxxx号</span>
             </a>
           </span>
         </div>
       </div>
     </div>
   </div>
   <div id="bannerWrap_tem_40_54" class="fullcolumn-outer" style="position: absolute; top: 0; bottom: 0;">
   </div>

   <script type="text/javascript">

     $(function () {
       var resize = function () {
         $("#smv_tem_40_54 >.yibuFrameContent>.fullcolumn-inner").width($("#smv_tem_40_54").parent().width());
         $('#bannerWrap_tem_40_54').fullScreen(function (t) {
           if (VisitFromMobile()) {
             t.css("min-width", t.parent().width())
           }
         });
       }
       $(window).resize(function (e) {
         if (e.target == this) {
           resize();
         }
       });
       resize();
     });
   </script>
 </div>
</div>
</div>
</div>