<!-- S fixed-side -->
<div id="a1portalSkin_fixed-left" class="QHDEmptyArea fixed-side fixed-left">
</div>
<!-- E fixed-side -->
<!-- S fixed-side -->
<div id="a1portalSkin_fixed-right" class="fixed-side fixed-right">
    <!-- Start_Module_74420 -->
    <a name="29762" id="29762"></a>
    <div class="module-default">
        <div class="module-inner">
            <div id="a1portalSkin_ctr7442074420_mainArea" class="module-content">
                <!-- Start_Module_74420 -->
                <div class="link-fixed-side">
                    <ul>
                        <li class="first"><a href="http://wpa.qq.com/msgrd?v=3&uin=318559961&site=qq&menu=yes"
                            class="link-name" target="_blank"><i style="background-image: url(Portals/897/_thumbs/qq.png);"
                                alt="售前咨询"></i><span>售前咨询</span></a></li><li class=""><a href="http://wpa.qq.com/msgrd?v=3&uin=318559961&site=qq&menu=yes"
                                    class="link-name" target="_blank"><i style="background-image: url(Portals/897/_thumbs/qq.png);"
                                        alt="技术咨询"></i><span>技术咨询</span></a></li><li class=""><a href="http://wpa.qq.com/msgrd?v=3&uin=318559961&site=qq&menu=yes"
                                            class="link-name" target="_blank"><i style="background-image: url(Portals/897/_thumbs/kf.png);"
                                                alt="售后客服"></i><span>售后客服</span></a></li><li class=""><a href="javascript:;" class="link-name"
                                                    target="_blank"><i style="background-image: url(Portals/897/_thumbs/tel.png);" alt="服务电话">
                                                    </i><span>服务电话</span></a><div class="link-summary">
                                                        <i class="arrow-section-r"></i>
                                                        <div class="link-summary-content">
                                                            <div class="qhd-content">
                                                                <p style="text-align: center;">
                                                                    13610166869</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                    </ul>
                </div>
                <!-- End_Module_74420 -->
            </div>
        </div>
    </div>
</div>
<!-- E fixed-side -->
<!-- S popup -->
<div id="popup" class="popup">
    <div class="popup-content not-animated" data-animate="fadeInDown">
        <div id="a1portalSkin_popup-area" class="QHDEmptyArea popup-content-wrapper">
        </div>
        <div class="popup-close-btn">
            <a href="javascript:;" title="关闭"><span>关闭</span></a></div>
    </div>
    <div class="popup-overlay">
    </div>
</div>
<!-- E popup -->
<!-- E go top -->
<div class="gotop-wrapper">
    <a href="javascript:;" class="fixed-gotop gotop"></a>
</div>
<!-- E go top -->
<input name="ScrollTop" type="hidden" id="ScrollTop" />
<input name="__a1portalVariable" type="hidden" id="__a1portalVariable" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="" /></form>
<!-- 外部脚本 -->